.testButton {
    height: 5rem;
    width: 5rem;
    color: white;   
    background-color: black;
}

.thumbnails {
    width: 10rem;
    max-height: 10rem;
}

.thumbnails:hover {
    border-style: dashed;
    border-color: yellow;
}
